name: GH-Pages

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
      - uses: bluefireteam/melos-action@v2
        with:
          run-bootstrap: false
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: ./publish.sh
